[Desktop Entry]
Name=Pathos
Name[en]=Pathos
Name[bg]=Pathos
Name[cs]=Pathos
Name[de]=Pathos
Name[es]=Pathos
Name[fa]=Pathos
Name[fr]=Pathos
Name[he]=פאתוס
Name[it]=Pathos
Name[jp]=Pathos
Name[ko]=Pathos
Name[pl]=Pathos
Name[pt]=Pathos
Name[ro]=Pathos
Name[ru]=Pathos
Name[sl]=Pathos
Name[sr]=Patosu
Name[th]=Pathos
Name[tr]=Pathos
Name[uk]=Pathos
Name[vi]=Pathos
Name[zh_CH]=Pathos
Name[zh_TW]=Pathos
Name[zh_HK]=Pathos
Exec=flatpak run net.azurewebsites.pathos
Icon=icon.png
Terminal=false
Type=Application
Category=Games
StartupNotify=false